:root {
    --syntax: yellow;
    --dark: gray;
}

.example {
    background-color: var(--dark);
    padding: 5px;
}

.syntax {
    color: var(--syntax);
    font-family: 'Courier New', Courier, monospace;
}