:root {
    /* color palette */
    --black: black;
    --dark-blue: #22223bff;
    --blueberry: #4a4e69ff;
    --salmon: #9a8c98ff;
    --pinkish: #c9ada7ff;
    --off-white: #f2e9e4ff;
    --white: white;
    /*               */
    --normal-shadow: 0px 2px 5px black;
    background-color: var(--dark-blue);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    scroll-behavior: smooth;
}

/* Hide scrollbars but keep functionality */

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: "sidebar content" "footer footer";
}

/* Mobile layout */

@media (max-width:500px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "sidebar" "content" "footer";
    }
    .sidebar {
        width: 100%;
        top: -5px;
        left: -5px;
    }
}

/* Reduced the margin so the up button will scroll to the very top of the page instead of the element below the top margin */

#top {
    margin-top: -10px;
}

.sidebar {
    grid-area: sidebar;
    top: -5px;
    left: -5px;
    height: 100vh;
    background-color: var(--salmon);
    border: 5px solid var(--black);
    position: fixed;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Hide scrollbars but keep functionality */

.sidebar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

h1 {
    text-align: center;
    color: var(--black);
    font-size: 48px;
    margin: 20px 50px 20px 50px;
    font-family: 'Times New Roman', Times, serif;
    grid-area: header;
}

main {
    background-color: var(--pinkish);
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    box-shadow: var(--normal-shadow);
    border-style: solid;
    border-width: 1vmax;
    grid-area: content;
}

header {
    grid-area: nav;
}

nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

nav>a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--dark-blue);
    padding: 0.6rem;
    margin: 3px;
    border: 3px solid var(--white);
}

nav>a:hover {
    background-color: var(--white);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}

footer {
    background-color: var(--white);
    margin-top: 20px;
    width: 100%;
    grid-area: footer;
}

img {
    width: 100%;
    max-width: 500px;
}

section {
    margin: 20px;
    padding: 2%;
    background-color: var(--white);
    box-shadow: var(--normal-shadow);
    border-radius: 5px;
}

h2 {
    text-align: center;
    box-shadow: var(--normal-shadow);
    background-color: var(--salmon);
    color: var(--black);
    padding: 5px;
    border-style: solid;
}

p {
    font-size: 1.2em;
}

ul {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/* To keep quotes from getting too scrunched */

@media (max-width: 1000px) {
    ul {
        grid-template-columns: 0.1fr 3fr 0.1fr;
    }
}

li {
    font-size: 1.2em;
    margin-bottom: 10px;
    grid-column: 2 / 3;
}

.example {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70%;
    background-color: var(--dark-blue);
    padding: 10px;
    box-shadow: var(--normal-shadow);
}

article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

article>p {
    color: var(--white);
    font-size: 105%;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    margin-top: 5px;
}

.property {
    text-align: left;
}

.value {
    text-align: center;
}

hr {
    margin-top: 20px;
}

.container {
    margin-top: 10px;
    display: grid;
    color: var(--black);
    font-size: 40px;
    width: 100%;
    text-align: center;
    grid-template-columns: auto;
}

.container>div {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.rows {
    grid-template-rows: 1fr 1fr 1fr;
}

.wide {
    width: 50%;
}

.tall {
    height: 50%;
}

/* box colors */

.dark {
    background-color: var(--salmon);
}

.light {
    background-color: var(--off-white);
}

/* Feedback form below */

input[type=text], textarea {
    width: 100%;
    border: 1px solid var(--blueberry);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--salmon);
    color: var(--black);
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--normal-shadow);
}

input[type=submit]:hover {
    background-color: var(--blueberry);
    color: var(--white);
    cursor: pointer;
}

/* Feedback form above */

.grid-area {
    grid-template-areas: "header header header" ". content ." "footer footer footer";
}

#up-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 2hv;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    color: var(--dark-blue);
    background-color: var(--salmon);
}

#up-button:hover {
    animation-name: color-change;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes color-change {
    100% {
        background-color: var(--off-white);
    }
}

/* Media Query Below */

.media-query {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "header header header" "advert1 content advert2" "footer footer footer";
}

/* Change layout for phones */

@media (max-width: 500px) {
    .container {
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
        grid-template-areas: "header header header" "advert1 advert1 advert1" "content content content" "advert2 advert2 advert2" "footer footer footer";
    }
}

.item1 {
    background-color: var(--white);
    grid-area: header;
}

.item2 {
    background-color: red;
    grid-area: advert1
}

.item3 {
    background-color: var(--off-white);
    grid-area: content;
}

.item4 {
    background-color: red;
    grid-area: advert2
}

.item5 {
    background-color: var(--white);
    grid-area: footer;
}